In [1]:
# 외부 라이브러리
import sqlite3

## 데이터베이스 접속

In [28]:
conn = sqlite3.connect('database.db') ## 해당 파일이 없다면, 새로운 파일 생성, 있다면 불러오기
cursor = conn.cursor() # 마우스 커서처럼 데이터베이스의 현재 상태를 제어하는 도구

## 따옴표가 3개인 문자열

In [32]:
x = '문자열'
x

'문자열'

In [33]:
x = '''줄바꿈등의 특수문자를
모두 포함한 문자열을
만들고 싶을때 따옴표 3개 사용'''
print(x)

줄바꿈등의 특수문자를
모두 포함한 문자열을
만들고 싶을때 따옴표 3개 사용

## 테이블 만들기

In [34]:
# 따옴표 3개 줄바뀌어도 문자열로 인식
# 쿼리문 작성시 주로 사용됨
# 쿼리문을 문자열로 작성
query = '''CREATE TABLE IF NOT EXISTS employees(
            id INTEGER PRIMARY KEY,
            name TEXT,
            age INTEGER,
            position TEXT
)
'''


# 현재 커서에서 해당 쿼리를 실행
cursor.execute(query) # 현재 접속한 DB에서 쿼리문을 실행해라

## 데이터 집어넣기

In [35]:
# 함수이름: create_employee
# 입력인자: name, age, position
# 하는일: 테이블에 데이터를 집어넣는 일을 한다
# 출력인자: 없음

def create_employee(name, age, position):
    query = "INSERT INTO employees (name, age, position) VALUES(?,?,?)" # 쿼리문
    values = (name, age, position) # 쿼리문의 ?에 대응시킬 실제 값
    cursor.execute(query, values) # 커서로 쿼리문을 실행 -> query의 ?부분에 values의 값이 하나씩 대응되어 실행
    conn.commit()  # 테이블을 만들때와 달리, conn.commit()도 해줘야 된다.
    print("Insert success") #안내메시지

In [36]:
# 데이터베이스에 값 집어넣기    
create_employee('jihwan', 32, "Ph.D.")
create_employee('james', 35, "master")

Insert success
Insert success

In [39]:
create_employee('jamie', 16, "Ph.D.")
create_employee('jhon', 35, "master")

Insert success
Insert success

## 데이터 읽기

In [37]:
def read_employee():
    query = "SELECT * FROM employees"    
    cursor.execute(query)
    employees = cursor.fetchall()
    if employees:
        for record in employees:
            print(record)
    else:
        print("Employee not found.")

In [40]:
read_employee()

(1, 'jihwan', 32, 'Ph.D.')
(2, 'james', 35, 'master')
(3, 'jamie', 16, 'Ph.D.')
(4, 'jhon', 35, 'master')

##  업데이트

In [41]:
def update_employee(employee_id, name, age, position):
    query = "UPDATE employees SET name=?, age=?, position=? WHERE id=?"
    values = (name, age, position, employee_id)
    cursor.execute(query, values )
    conn.commit()
    print("Employee updated successfully.")

In [42]:
update_employee(1, 'myname', 29, 'ph.d')

Employee updated successfully.

In [43]:
read_employee()

(1, 'myname', 29, 'ph.d')
(2, 'james', 35, 'master')
(3, 'jamie', 16, 'Ph.D.')
(4, 'jhon', 35, 'master')

## 지우기

In [44]:
def delete_employee(employee_id):
    query = "DELETE FROM employees WHERE id=?"
    value = (employee_id, ) # ?가 하나더라도, 리스트형태로 잡아준다
    cursor.execute(query, value)
    conn.commit()
    print("Employee deleted successfully.")

In [45]:
delete_employee(2)

Employee deleted successfully.

In [46]:
read_employee()

(1, 'myname', 29, 'ph.d')
(3, 'jamie', 16, 'Ph.D.')
(4, 'jhon', 35, 'master')